<!DOCTYPE html>

<!-- "lang" is used by search engines and screen-readers. -->
<html lang="en">

<head>

    <!-- Metadata is not displayed by the browser, but it gives information to the browser and others who parse the html. -->
    <!-- This meta tag provides the character encoding, which deals with language issues. UTF-8 is the universal standard. -->
    <meta charset="UTF-8">
    <!-- These meta tags are used to provide a better experience with mobile browsers. -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0 shrink-to-fit=no">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <!-- These meta tags are used by search engines. The "description" will be shown with the link in Google search results. The "keywords" should be filled with keywords for SEO (Search Engine Optimization). -->
    <meta name="description" content="Aaron Roeck - KW Magician & Entertainer. Aaron Roeck has been creating both awe and astonishment professionally for 10 years through his comedy and magic. Based out of Kitchener, Aaron has performed for audiences throughout Ontario and across Canada. His blend of jaw dropping magic and side-splitting humour leaves audiences both amazed and hysterical throughout the performance.">
    <meta name="keywords" content="magician entertainer kitchener waterloo">
    <meta name="author" content="Alexander Fraser">

    <!-- The icon that appears with the title for the page. You can have more than one, with each used with certain devices (e.g. different resolutions). -->
    <link rel="shortcut icon" href="/aceofspades.png" type="image/png">
    <!-- The title appears in the tab of the page in the browser. It is also the default name when bookmarking a page. -->
    <title>Aaron Roeck - KW Magician & Entertainer</title>

    <!-- Bootstrap CSS. -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css" integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4"
        crossorigin="anonymous">
    <script defer src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <script defer src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js" integrity="sha384-cs/chFZiN24E4KMATLdqdvsezGxaGsi4hLGOzlXwp5UZB1LY//20VyM2taTB4QvJ"
        crossorigin="anonymous"></script>
    <script defer src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js" integrity="sha384-uefMccjFJAIv6A+rW+L4AHf99KvxDjWSu1z9VI8SKNVmz4sk7buKt/6v9KI65qnm"
        crossorigin="anonymous"></script>

    <!-- Fonts. -->
    <script defer src="https://use.fontawesome.com/releases/v5.0.10/js/all.js" integrity="sha384-slN8GvtUJGnv6ca26v8EzVaR9DC58QEwsIk9q1QXdCU8Yu8ck/tL/5szYlBbqmS+"
        crossorigin="anonymous"></script>

    <!-- JQuery. -->
    <script defer src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

    <!-- Custom CSS and JavaScript. -->
    <link rel="stylesheet" type="text/css" href="/customstyles.css">
    <script defer src="/frontendjs.js"></script>
</head>



<body>

    <!-- Top navbar. It sticks to the top of the page and collapses for mobile browsers. -->
    <nav class="navbar navbar-expand-sm navbar-dark navbar-custom site-header sticky-top shadow">
        <!-- Logo. It is also a link to the top of the page. -->
        <a class="navbar-brand" href="#">
            <i class="fas fa-magic"></i>
        </a>

        <!-- Button that appears when the navbar is collapsed. It toggles a list of the items in the navbar. -->
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
            aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <!-- Links to sections on the page (i.e. within-page navigation). -->
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link" href="#href-about">About</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#href-services">Services</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#href-testimonials">Testimonials</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#href-instagram">Instagram</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#href-contact">Contact</a>
                </li>
            </ul>

            <!-- Social media links displayed on the right-hand side of the navbar. -->
            <ul class="navbar-nav navbar-right">
                <li class="nav-item">
                    <a class="nav-link" target="_blank" href="http://www.facebook.com/aaronroeckmagic">
                        <i class="fab fa-facebook"></i>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" target="_blank" href="http://www.instagram.com/aaronroeckmagic">
                        <i class="fab fa-instagram"></i>
                    </a>
                </li>
            </ul>

        </div>
    </nav>



    <!-- The "main" element is optional. It just provides structure to the html. -->
    <main role="main">

        <!-- The welcome image at the top of the page. -->
        <div class="shadow container-title">
            <img class="img-fluid img-title" src="ARM-Wedding-Grand.png"> 
            <div class="container text-block text-center">
                <h4 class="jumbotron-heading">Magical Entertainment for Your Next Event</h4>
                <p>
                    <a href="#href-contact" class="btn btn-light">Contact Now</a>
                </p>
            </div>
        </div>



        <!-- About section. -->
        <div class="section bg-blue shadow">
            <div class="container">
                <h1 class="text-center">
                    <span id="href-about"></span>Meet the Magician</h1>

                <div class="row align-items-center">
                    <div class="col-md-6 col-sm-12">
                        <p>Aaron Roeck has been creating both awe and astonishment professionally for 10 years through his comedy
                            and magic. Based out of Kitchener, Aaron has performed for audiences throughout Ontario and across
                            Canada. His blend of jaw dropping magic and side-splitting humour leaves audiences both amazed and
                            hysterical throughout the performance.
                            <br>
                            <br>After seeing a magician perform as a child and being taught a few card tricks from his father, he
                            was instantly hooked by the feeling of brightening someone's day with a little laughter and amazement.
                            Although the size of audiences and the tricks have changed, his motivation remains the same whether
                            performing for 1 or 1000.
                            <br>
                            <br>Aaron is a proud father of 3 and has been married to his wife Mariah for 5 years.
                            <br>
                            <br>Allow Aaron to join you at your next event and see for yourself how magic has the ability to make
                            any event unique and memorable for all.</p>
                    </div>
                    <div class="col-md-6 col-sm-12">
                        <img class="img-fluid shadow p-2 bg-white rounded" alt="Meet the Magician" src="ARM-Wedding-Close.png">
                    </div>
                </div>
            </div>
        </div>


        <!-- Services section. -->
        <div class="section container">
            <h1 class="text-center">
                <span id="href-services"></span>Services</h1>

            <div class="row">

                <div class="col-md-6 col-sm-12">
                    <h4 class="text-center">Stage Magic Show</h2>
                        <p>This 20-60 minute comedy and magic show is excellent for after dinner entertainment where everyone
                            is seated and facing the stage. Full of audience participation, this high energy performance
                            is suitable for all ages. From living rooms to theatres to banquet halls, make your next event
                            memorable and exciting with this unique Stage Magic Show!</p>

                        <h4 class="text-center">Walk Around Magic</h2>
                            <p>Get up close and personal with walk around and close up magic. Excellent for those times where
                                guests are mingling and enjoying drinks or appetizers. Whether audiences are seated or standing
                                this style of strolling magic works great for creating a fun atmosphere and giving everyone
                                something exciting to talk about. Walk Around Magic is also very effective at cocktail parties
                                or for filling in a lull at some events such as wedding receptions, fundraisers or corporate
                                dinners.</p>
                </div>

                <div class="col-md-6 col-sm-12">
                    <h4>Aaron's magic is fully tailorable and great for almost any event such as:</h4>
                    <ul>
                        <li>Wedding Receptions</li>
                        <li>Corporate Events</li>
                        <li>Holiday Parties</li>
                        <li>Bar & Bat Mitzvahs</li>
                        <li>Youth Retreats & Church Functions</li>
                        <li>Fundraisers</li>
                        <li>School Events</li>
                        <li>Celebratory Milestones</li>
                        <li>Private Functions</li>
                        <li>Restaurant Entertainment</li>
                        <li>And much more!</li>
                    </ul>
                </div>

            </div>

            <div class="text-center">
                <h4>Make your event unforgettable!</h4>
                <p>Contact now to customize magic for your event</p>
<!--                 <p>
                    <a href="#href-contact" class="btn btn-primary">Contact now to customize magic for your event</a>
                </p> -->
            </div>
<!--             <div>
                <img class="img-fluid" alt="Services" src="https://static.wixstatic.com/media/c255f8_a289441fd9694905b6eb382de9840ac6~mv2_d_4000_2670_s_4_2.jpg/v1/fill/w_681,h_455,al_c,q_80,usm_0.66_1.00_0.01/c255f8_a289441fd9694905b6eb382de9840ac6~mv2_d_4000_2670_s_4_2.webp">
            </div> -->
        </div>



        <!-- Carousel of testimonials. -->
        <div class="section bg-blue shadow">
            <div class="container">
                <h1 class="text-center">
                    <span id="href-testimonials"></span>Testimonals</h1>

                <!-- The "data-ride" attribute means once slides are clicked, they will continue to scroll. "data-interval" sets time until automatic scrolling. -->
                <div id="myCarousel" class="carousel slide" data-ride="carousel">

                    <!-- This creates the slide # indicator on the bottom of the carousel. -->
                    <ol class="carousel-indicators">
                        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
                        <li data-target="#myCarousel" data-slide-to="1"></li>
                        <li data-target="#myCarousel" data-slide-to="2"></li>
                        <li data-target="#myCarousel" data-slide-to="3"></li>
                    </ol>

                    <div class="carousel-inner">
                        <!-- Each carousel item is composed of one of these blocks. -->
                        <div class="carousel-item active">
                            <div class="container">
                                <div class="carousel-caption text-left">
                                    <p>"Aaron Roeck is a top-notch magician and performer. He did a great job connecting with his
                                        audiences – both youth and adults. Everyone was laughing one minute and gasping in amazement
                                        the next! Aaron’s great personality and humour make him great on stage. Off stage he
                                        is very professional and great to be around. I highly recommend hiring him for your next
                                        event!"
                                        <br>
                                        <br>James Vanderveen
                                        <br>Willingdon Church - B.C.</p>
                                </div>
                            </div>
                        </div>

                        <div class="carousel-item">
                            <div class="container">
                                <div class="carousel-caption text-left">
                                    <p>"Having been in the wedding industry for over a decade, I highly recommend Aaron Roeck as
                                        the best "walk around" magician for wedding cocktail receptions. His appeal to young
                                        and old is extraordinary, his entertainment is classy and polished, and his demeanor
                                        is professional and personable. If you want to make every part of your wedding day memorable
                                        and magical, I encourage you to invite Aaron Roeck to be a part of it."
                                        <br>
                                        <br>Martti Pajunen
                                        <br>Regional Director, Kettle Creek Weddings</p>
                                </div>
                            </div>
                        </div>

                        <div class="carousel-item">
                            <div class="container">
                                <div class="carousel-caption text-left">
                                    <p>"People are still raving about how awesome your show was here. You were very professional
                                        in presentation, and your tricks were amazing. Looking forward to hosting another show
                                        soon!"
                                        <br>
                                        <br>Tim Loveday
                                        <br>Bethany Church, Kitchener - ECM Camps</p>
                                </div>
                            </div>
                        </div>

                        <div class="carousel-item">
                            <div class="container">
                                <div class="carousel-caption text-left">
                                    <p>"We had Aaron perform some walk around magic during the cocktail hour at our wedding. Aaron
                                        was able to take what is normally a dull part of the day for our guests and turn it into
                                        something fun and memorable! More than that, we were extremely grateful for the peace
                                        of mind knowing our guests were being entertained while we were off taking our wedding
                                        photos."
                                        <br>
                                        <br>Kelly & David Locking</p>
                                </div>
                            </div>
                        </div>

                    </div>

                    <!-- These are the carousel controls that advance to the next or previous slide when clicked. -->
                    <a class="carousel-control-prev" href="#myCarousel" role="button" data-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="sr-only">Previous</span>
                    </a>
                    <a class="carousel-control-next" href="#myCarousel" role="button" data-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="sr-only">Next</span>
                    </a>
                </div>
            </div>
        </div>


        <!-- Instagram feed. The server program pulls the list of ARM Instagram pages and passes them to the JS below. -->
        <div class="section container">
            <h1 class="text-center">
                <a target="_blank"  class="instagram-header" href="http://www.instagram.com/aaronroeckmagic">
                    <i class="fab fa-instagram"></i>
                    <span id="href-instagram"></span>Instagram Feed
                </a>
            </h1>
            <p class="text-center">
                <a target="_blank" class="instagram-header" href="http://www.instagram.com/aaronroeckmagic">Follow AaronRoeckMagic on Instagram</a>
            </p>

            <div class="album">
                <div class="container">
                    
                    <!-- The first 9 Instagram pages are shown.  -->
                    <div class="row">
                        <% for (var i = 0; i < Math.min(12, instagramFeed.length); i++) { %>
                            <div class="col-md-4 col-sm-6 col-6">
                                <div class="card mb-4 box-shadow">
                                    <a target="_blank" href="http://www.instagram.com/p/<%= instagramFeed[i].shortCode %>">
                                        <img class="card-img-top shadow rounded" src="<%= instagramFeed[i].imageURL %>" alt="Instagram image">
                                    </a>
                                </div>
                            </div>
                        <% } %>
                    </div>

                    <!-- The remaining Instagram pages start collapsed and are shown by clicking a button. -->
                    <% if (instagramFeed.length > 12) { %>
                        <div class="row collapse" id="instagramMore">
                            <% for (var i = 12; i < instagramFeed.length; i++) { %>
                                <div class="col-md-4 col-sm-6 col-6">
                                    <div class="card mb-4 box-shadow">
                                        <a target="_blank" href="http://www.instagram.com/p/<%= instagramFeed[i].shortCode %>">
                                            <img class="card-img-top shadow rounded" src="<%= instagramFeed[i].imageURL %>" alt="Instagram image">
                                        </a>
                                    </div>
                                </div>
                            <% } %>
                        </div>
                    <% } %>

                    <button class="btn btn-primary btn-block shadow" id="instagramMoreBtn" type="button" data-toggle="collapse" data-target="#instagramMore" aria-expanded="false" aria-controls="instagramMore">Show More</button>
                    
                </div>
            </div>
        
        </div>



        <!-- Contact form. -->
        <div class="section bg-blue shadow">
            <div class="container">
                <h1 class="text-center">
                    <span id="href-contact"></span>Contact</h1>
                <p class="text-center">Email: info@aaronroeck.com
                    <br>Tel: 519-998-7346</p>

                <div class="row">

                        <!-- These attributes specify how the information is sent to the server. -->
                        <form action="/" method="POST">

                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <input class="form-control" type="text" name="name" placeholder="Name">
                                    </div>
                                    <div class="form-group">
                                        <input class="form-control" type="text" name="email" placeholder="Email">
                                    </div>
                                    <div class="form-group">
                                        <input class="form-control" type="text" name="phone" placeholder="Phone">
                                    </div>
                                </div>

                                <div class="col-md-6">
                                    <div class="form-group">
                                        <textarea class="form-control" type="text" name="message" placeholder="Message" rows="5"></textarea>
                                    </div>
                                </div>
                            </div>

                            <div class="form-group">
                                <button class="btn btn-lg btn-dark btn-default btn-block shadow">Send</button>
                            </div>

                        </form>
                
                </div>
            </div>
        </div>



    </main>



    <!-- The "footer" element is option. It just provides structure to the html. -->
    <footer class="text-muted">
        <div class="container text-center">
            <p>
                <a class="btn btn-primary" href="#">Back to Top</a>
            </p>
            <p>Photography by
                <a target="_blank" href="http://www.rachelkeyesphotography.com">Rachel Keyes Photography</a>.</p>
            <p>&copy; 2018 Aaron Roeck Magic. All rights reserved.</p>
            <p id="footer-links">
                <a target="_blank" href="http://www.facebook.com/aaronroeckmagic">
                    <i class="fab fa-facebook"></i>
                </a>
                <a target="_blank" href="http://www.instagram.com/aaronroeckmagic">
                    <i class="fab fa-instagram"></i>
                </a>
            </p>
        </div>
    </footer>

</body>

</html>