.container {
    max-width: 960px;
}



/* Styling the navbar. */
.navbar-custom {
    background-color: rgba(0, 0, 0, .85);
}



/* Getting the in-page links to reflect the navbar's size. */
h1 {
    position: relative;
}
h1 span {
    position: absolute;
    top: -70px;
}



/* Styling the welcome image. */
.container-title {
    position: relative;
    min-height: 200px;
}
.img-title {
    min-height: 200px;
}
.text-block {
    position: absolute;
    bottom: 10%;
    left: 0%;
    right: 0%;
}
.jumbotron-heading {
    color: white;
    background-color: rgba(0,0,0,.60);
}



/* Styling the spacing and backgrounds in the body. */
div.section {
    padding-top: 20px;
    padding-bottom: 20px;
}
div.bg-blue {
    /* background-color: #e0245e; */
    /* background-color: #1fb650; */
    background-color: #1da1f2;
    color: white;
}



/* Styling the carousel. */
.carousel-item {
    min-height: 300px;          /* Avoids the page resizing when the screen is wide enough for the content. */
    padding-top: 20px;
}

/* Allows the carousel window to automatically resize to fit the caption. */
.carousel-caption {
    /* color: black;           */
    position: relative;
    left: 0%;
    right: 0%;
    padding: 40px;
}

/* Pushes the carousel next/previous icons to the edge of the screen (don't overlap text). */
.carousel-control-prev {
    width: 5%;    
}
.carousel-control-next {
    width: 5%;    
}

/* Changes the colours of the carousel icons. */
/* .carousel-control-prev-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='#333333' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E") !important;
}
.carousel-control-next-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='#333333' viewBox='0 0 8 8'%3E%3Cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E") !important;
}
.carousel-indicators li {
    background-color: #777777;
}
.carousel-indicators .active {
    background-color: #333333;
} */



/* Styling the Instagram feed. */
a.instagram-header {
    color: #212529;
}
img.padded {
    padding: 5px;
}
#instagramMoreBtn {
    margin: 0 auto 20px auto;
}



/* Styling the contact form. */
form {
    width: 90%;
    margin: auto;
}



/* Styling the footer. */
footer {
    padding: 20px;
    background-color: #323232;
}
footer p {
    color: white;
}
footer a {
    color: white;
}
#footer-links a {
    padding-left: 5px;
    padding-right: 5px;
}